/* Define fx label */
.label {
    -fx-font-family: 'Arial';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.label-small {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-alignment: center;
}

.button {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-text-fill: white;
    -fx-background-color: #007AFF;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

.danger-button {
    -fx-text-fill: #FA3156;
    -fx-background-color: transparent;
}

#body {
    -fx-background-color: #EFEFEF;
}

.title-label {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-font-weight: 900;
    -fx-text-fill: #8E8E93;
}

.table-element {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-font-weight: normal;
}

.table-button {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-font-weight: 600;
}

.list-view {
    /* Remove every border */
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
